.poppins {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.hind {
    font-family: "Hind Siliguri", sans-serif;
    font-style: normal;
}

.active {
    background-color: #3b82f6;
    color: white;
}